.ui-dialog{
        box-shadow: 0px 0px 12px 4px #444;
}
.x-window{
        box-shadow: 0px 0px 12px 4px #444;
}

.icon-shoppingbasket {
    background-image: url("images/shoppingcart16.png") !important;
}

.icon-search24 {
        background-image: url("images/search-24x24.png") !important;
}

.icon-close {
        background-image: url("images/close.gif") !important;
}

.icon-download {
        background-image: url("images/save-icon.png") !important;
}

.icon-view {
        background-image: url("images/text_icon.png") !important;
}
.ajaxloader{
          background-image: url("images/ajax-loader.gif");
          width:32px;
          height:32px;
}
.ui-button-icon-space {
  display:inline;
}
